* {
  background-color: brown

}

header {
  color: white;
  font-family: arial;
  float: left;
  display: inline-block;
  text-align: center;
}

h1 {
  /*display: block;*/
}

h2 {
  color: white;
  /*display: block;*/
  /*font-family: arial;*/
  position: relative;
  left: 140px;
}

nav ul {
  list-style: none;
  display: inline-block;
  margin-top: 20px;
}

#tumblr {
  position: relative;
  left: 60px;
}

a {
  font-family: arial;
  font-size: x-large;
  text-decoration: none;
  color: grey;
}

a:hover {
  color: white;
}

article {
  text-align: center;
}